---
import Layout from "../../layouts/Layout.astro";
import Banner from "../../components/Banner.astro";
import TextoGrande from "../../components/Texto/TextoGrande";
import TextoMedio from "../../components/Texto/TextoMedio";
import TextoPequeno from "../../components/Texto/TextoPequeno";
import TextoVermelho from "../../components/Texto/TextoVermelho";
import Container from "../../components/Container.astro";
import VSL from "../../components/VSL/Upsell1.astro";
---

<Layout title="Programa D21">
  <div
    style={{
      textAlign: "center",
      display: "block",
      justifyContent: "center",
      alignItems: "center",
      width: "100%",
    }}
  >
    <Banner
      bold="ETAPA 1 de 2: "
      texto="Atenção, não feche ou atualize essa página, isso pode gerar erros na sua compra!"
    />
    <br />
    <TextoGrande>ESPERE!</TextoGrande>
    <br />
    <TextoMedio>
      VOCE JÁ TEM ACESSO AO PROTOCOLO ZERO BARRIGA MAS A SUA COMPRA AINDA NÃO
      ESTÁ 100% CONCLUÍDA...
    </TextoMedio>
    <br />
    <TextoPequeno>
      Você provavelmente só irá ver essa página uma única vez (para sempre),
      veja esse vídeo abaixo com muito cuidado. É realmente muito importante...
    </TextoPequeno>
    <div id="oferta">
      <Container>
        <VSL />
      </Container>
    </div>
    <TextoPequeno>
      Programa bumbum perfeito{" "}
      <strong>
        <s>R$400</s>
      </strong>
      <br />
      Adeus estrias{" "}
      <strong>
        <s>R$147</s>
      </strong>
    </TextoPequeno>
    <TextoVermelho>
      Total:{" "}
      <strong>
        <s>R$ 547</s>
      </strong>
    </TextoVermelho>
    <img src="/plr-page/upsell1/upsell1.png" width="200" alt="" />
    <br />
    <br />
  </div>
</Layout>

<style>
  .desconto-vermelho {
    color: #e43b2c;
  }

  .preco {
    color: #61ce70;
  }

  .titulo-desconto {
    font-size: 25px;
    font-weight: 700;
    color: #2f2f2f;
    width: 80%;
  }
</style>
