---
import Layout from "../../layouts/Layout.astro";
import Banner from "../../components/Banner.astro";
import ContainerBox from "../../components/ContainerBox";
import TextoGrande from "../../components/Texto/TextoGrande";
import TextoMedio from "../../components/Texto/TextoMedio";
import TextoPequeno from "../../components/Texto/TextoPequeno";
import TextoVermelho from "../../components/Texto/TextoVermelho";
import Container from "../../components/Container.astro";
import Downsell1 from "../../components/Botao/Downsell1.astro";
import Redirect from "../../components/Botao/Redirect.astro";
---

<Layout title="Programa D21">
  <div>
    <Banner bold="Cuidado: " texto="não feche esta página ainda..." />
    <ContainerBox>
      <br />
      <img src="/rmktpzb/downsell1/stop.png" alt="stop" />
      <TextoGrande>
        OK. ENTENDI! VOCÊ ACHOU 67 REAIS MUITO CARO, CERTO?
      </TextoGrande>
      <br />
      <TextoMedio>
        Bem, com a sua permissão, eu gostaria de te oferecer algo de ainda mais
        valor agora, porque eu realmente quero que você obtenha os resultados
        que você merece!
      </TextoMedio>
      <br />
      <TextoPequeno>
        Portanto, vou fazer desta a decisão mais fácil que você já tomou na sua
        vida... A ponto de se sentir realmente mal em deixar passar...
      </TextoPequeno>
      <br />
      <TextoMedio>E como farei isso? Aqui está como...</TextoMedio>
      <br />
      <TextoPequeno>
        <strong>Parece loucura...</strong>
      </TextoPequeno>
      <br />
      <TextoPequeno>
        Mas <strong>VOU DIMINUIR</strong> o preço do Método Antiflacidez para algo
        ridículo e adicionar + 1 PROGRAMA ESPECIAL no seu pacote... Mas somente se
        você optar por aceitar esta oferta única AGORA.
      </TextoPequeno>
      <br />
      <TextoMedio>Por que estou fazendo isso?</TextoMedio>
      <br />
      <TextoPequeno>
        Porque eu não quero que algo como o preço seja a razão pela qual o lindo
        corpo que você merece possa escorregar por entre os dedos para sempre
        ... <br />
        <br />E além disso, acredito em entregar e dar a você tanto valor que
        você ficará muito grata por realmente usar esses métodos para mudar a
        sua vida! <br />
        <br />O objetivo aqui é ajudar as mulheres em todos os lugares a
        transformarem suas vidas para sempre.
      </TextoPequeno>
      <br />
      <TextoMedio>
        Então agora, você vai ter a oportunidade de ter acesso ao Método
        Antiflacidez com um desconto especial e + 1 bônus gratuito...
      </TextoMedio>
      <br />
      <TextoMedio>
        De <s class="desconto-vermelho">R$ 67,00</s> por apenas
        <br />
        <strong class="preco">R$ 37,00</strong> ou
        <strong class="preco">8X de 5,27</strong>
      </TextoMedio>
      <div id="oferta">
        <Container>
          <Downsell1 />
        </Container>
      </div>
      <TextoPequeno>
        Somente agora, aqui nesta página, ao fechar a página você perderá essa
        chance para sempre!
      </TextoPequeno>
      <br />
      <TextoMedio>
        Olha, se você fizer as contas e se analisar os enormes benefícios que
        ganhará ao longo de um ano, investindo apenas R$ 47 neste “Pacote
        Especial” agora...
        <br />
        <br />
        Você vai perceber que você está gastando R$ 0,26 por dia!
        <br />
        <br />
        Isso não é nem o preço de um cafézinho...
        <br />
        <br />
        Aqui está um breve resumo do que você vai receber...
      </TextoMedio>
      <br />
      <br />
      <TextoPequeno>
        Método Antiflacidez{" "}
        <strong>
          <s>R$400</s>
        </strong>
        <br />
        Detox imediato{" "}
        <strong>
          <s>R$147</s>
        </strong>
      </TextoPequeno>
      <TextoVermelho>
        Total:{" "}
        <strong>
          <s>R$ 547</s>
        </strong>
      </TextoVermelho>
      <img src="/rmktpzb/downsell1/downsell1.png" width="200" alt="" />
      <Container>
        <Redirect />
      </Container>
      <img src="/rmktpzb/segura.png" width="300" alt="" />
      <TextoPequeno>
        Como você já viu acima, esse é um valor imbatível!
        <br /><br />
        Aqui estão as três principais razões pelas quais você deve tirar proveito
        dessa incrível oferta única de uma vez agora…
        <br /><br />
        <strong>1.</strong> Como você já viu, estou dando a você
        <strong class="desconto-vermelho">R$ 547</strong> em cursos por um único
        pagamento de <strong class="preco">R$ 37</strong>. Em resumo, é uma
        economia enorme de mais de R$ 510.
        <br /><br />
        <strong>2.</strong> Esta é uma oferta <strong>“ÚNICA VEZ”</strong>. O
        que significa que você nunca poderá ter outra oportunidade de adquirir
        esses programas por um preço tão baixo. De fato, se você me enviar um
        e-mail sobre isso mais tarde, mesmo que eu gostaria, não seria possível
        fazer esse acordo, porque esse negócio está disponível apenas como uma
        oferta única, juntamente com o produto principal.
        <br /><br />
        <strong>3.</strong> Você literalmente não pode perder esta oferta exclusiva,
        porque estou aceitando todo o risco para você, testando-o durante 7 dias
        completos com a minha garantia de devolução do dinheiro. Se você pensar bem,
        basicamente não tem desvantagem com esta oferta, mas as vantagens vão literalmente
        mudar a sua vida!
        <br /><br />
      </TextoPequeno>
      <TextoMedio>
        Então mais uma vez...
        <br /><br />
        Se você somar tudo, chega a mais de
        <strong class="desconto-vermelho">R$ 547</strong>, mas apenas dessa vez,
        você pode ter todos os cursos acima por um preço extremamente baixo, de
        apenas <strong class="preco">R$ 37</strong>.
        <br /><br />
      </TextoMedio>
      <Container>
        <Redirect />
      </Container>
    </ContainerBox>
  </div>
</Layout>

<style>
  .desconto-vermelho {
    color: #e43b2c;
  }

  .preco {
    color: #61ce70;
  }

  .titulo-desconto {
    font-size: 25px;
    font-weight: 700;
    color: #2f2f2f;
    width: 80%;
  }
</style>
