<div
  id="vid_6ab60705-7209-4fec-bd24-b191923363d7"
  style="position:relative;width:100%;padding: 56.25% 0 0;"
>
  <img
    id="thumb_6ab60705-7209-4fec-bd24-b191923363d7"
    src="https://vz-934fbd38-aa7.b-cdn.net/c5f02d2f-91ee-4cd9-a596-39621f9d3e7c/thumbnail.jpg"
    style="position:absolute;top:0;left:0;width:100%;height:100%;object-fit:cover;display:block;"
  /><div
    id="backdrop_6ab60705-7209-4fec-bd24-b191923363d7"
    style="position:absolute;top:0;width:100%;height:100%;-webkit-backdrop-filter:blur(5px);backdrop-filter:blur(5px);"
  >
  </div>
</div><script
  type="text/javascript"
  id="scr_6ab60705-7209-4fec-bd24-b191923363d7"
>
  var s = document.createElement("script");
  (s.src =
    "https://vz-934fbd38-aa7.b-cdn.net/c5f02d2f-91ee-4cd9-a596-39621f9d3e7c/script.js"),
    (s.async = !0),
    document.head.appendChild(s);
</script>
