---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import Referencia from "../components/Referencia.astro";
import Rodape from "../components/Rodape.astro";
import Titulo from "../components/Titulo.astro";
import Conteudo from "../components/Conteudo";
import Garantia from "../components/Garantia.jsx";
import VSLPlayer from "../components/VSLPlayer.astro";
import Completo from "../components/Completo";
import Bonus from "../components/Bonus";
import TextoDownsell1 from "../components/TextoDownsell1";
---

<Layout title="Programa D21">
  <div>
    <Banner bold="Cuidado: " texto="não feche esta página ainda..." />
    <TextoDownsell1 />
    <!-- <Titulo
      texto="LIVRO SECRETO REVELA O SEGREDO DO TRUQUE DA BANANA MATINAL QUE QUEIMA GORDURA DE FORMA AUTOMÁTICA…"
    /> -->
  </div>
</Layout>
