---
import Layout from "../layouts/Layout.astro";
---

<!-- Titulo da pagina -->
<Layout title="Programa D21">
  <html>
    <head>
      <!-- SCRIPTS VÃO AQUI -->
      <style type="text/scss">
        @import "../../public/styles.scss";
      </style>
    </head>
    <body>
      <main>
        <!-- ======== Conteúdo do corpo da página =========== -->
        <div id="banner">
          <div class="banner">
            <center>
              <strong>ETAPA 1 de 2:</strong> Atenção, não feche ou atualize essa
              página, isso pode gearar erros na sua compra!
            </center>
          </div>
          <br />
        </div>
        <!-- ========= Contador ========== -->
        <div id="countdown" class="container">
          <center>
            <div class="counter-square" id="contador">
              <h1 class="counter-text" id="tempo"></h1>
              <br />
            </div>
            <script>
              var contador = document.getElementById("contador");
              var tempoElemento = document.getElementById("tempo");
              var tempoRestante = parseInt(
                localStorage.getItem("tempoRestante")
              );
              if (
                isNaN(tempoRestante) ||
                tempoRestante < 0 ||
                tempoRestante > 600
              ) {
                tempoRestante = 600; // Contador em segundos (10 minutos)
              }

              var intervalo = setInterval(function () {
                tempoRestante--;
                localStorage.setItem("tempoRestante", tempoRestante.toString());

                if (tempoRestante <= 0) {
                  clearInterval(intervalo);
                  contador.style.display = "none"; // Esconde o contador
                  localStorage.removeItem("tempoRestante"); // Remove a chave do LocalStorage
                }

                var minutos = Math.floor(tempoRestante / 60);
                var segundos = tempoRestante % 60;
                var minutosStr = minutos < 10 ? "0" + minutos : minutos;
                var segundosStr = segundos < 10 ? "0" + segundos : segundos;

                tempoElemento.innerHTML = minutosStr + ":" + segundosStr;
              }, 1000);
            </script>
          </center>
        </div>

        <!-- ========= TITULOS ========== -->
        <div id="titulos" class="section">
          <br />
          <div class="container">
            <h1 class="titulo">ESPERE!</h1>
            <br />
            <h1 class="sub-titulo">
              VOCE JÁ TEM ACESSO AO MANUAL MAGRA COM CAFÉ MAS A SUA COMPRA AINDA
              NÃO ESTÁ 100% CONCLUÍDA...
            </h1>
            <br />
            <h1 class="sub-titulo-pequeno">
              Você provavelmente só irá ver essa página uma única vez (para
              sempre), veja esse vídeo abaixo com muito cuidado. É realmente
              muito importante...a
            </h1>
          </div>
        </div>
        <!-- ========= VIDEO ========== -->
        <div id="video" class="section">
          <br />
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/GBIIQ0kP15E?controls=0"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          ></iframe>
        </div>
        <div id="volume" class="section">
          <br />
          <img src="/plr-page/volume.svg" width={15} class="inline-block" />
          <h1 class="sub-titulo-video inline-block">
            Verifique se o seu som está ligado!
          </h1>
        </div>
        <!-- ========== PROGRESS BAR ============= -->
        <div id="progress-bar" class="section">
          <br />
          <div class="progress-container">
            <div class="progress progress-striped active">
              <div
                role="progressbar "
                style="width: 70%;"
                class="progress-bar progress-bar-success"
              >
                <span>75%</span>
              </div>
            </div>
          </div>
        </div>
        <!-- ============== UPSELL ============== -->
        <div id="upsell" style="text-align: center;" class="section">
          <div style="text-align: center;">
            <a
              class="pulse"
              href="#"
              payt_action="oneclick_buy"
              data-object="R6DVY4-LGNVN4"
              style="background: rgb(40, 167, 69); color: rgb(255, 255, 255); padding: 17px; text-decoration: none; font-size: 20px; font-family: sans-serif; border-radius: 7px; display: block; margin: 10px auto; width: 80%;"
            >
              SIM! QUERO GARANTIR MINHA VAGA
            </a>
            <select payt_element="installment" data-object="R6DVY4-LGNVN4"
            ></select>
            <script
              type="text/javascript"
              src="https://checkout.payt.com.br/multiple-oneclickbuyscript/9RK5Z4.js"
            ></script>
          </div>
        </div>
        <div id="pos-video" class="section">
          <br />
          <div class="container">
            <h1 class="sub-titulo">
              SE VOCÊ SAIR DESTA PÁGINA, VOCÊ PERDERÁ A OPORTUNIDADE DE ADQURIR
              O MÉTODO ANTIFLACIDEZ COM UM VALOR ESPECIAL...
            </h1>
          </div>
          <br />
        </div>
        <!-- ============== RODAPÉ============== -->
      </main>
      <footer class="center">
        <div class="banner-bottom">
          <p>
            <strong>Copyright 2023</strong><br />Todos os direitos reservados.a
          </p>
          <div class="flex" style="justify-content: center">
            <a>Termos de Uso &nbsp;|&nbsp; Políticas de Privacidade</a>
          </div>
        </div>
      </footer>
    </body>
  </html>
</Layout>
