---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import Headline from "../components/Headline.astro";
import Banner1 from "../components/Banner1";
import Garantia from "../components/Garantia.jsx";
import VSLPlayer from "../components/Container.astro";
import LivroCompleto from "../components/LivroCompleto";
import Bonus from "../components/Bonus";
import SubtituloVerde from "../components/Texto/SubtituloVerde";
import FAQ from "../components/FAQ.astro";
import BotaoVerde from "../components/Botao/BotaoVerde";
import BonusDesconto from "../components/BonusDesconto";
import VSL from "../components/VSL/VSL.astro";
import Depoimento1 from "../components/VSL/Depoimento1.astro";
import Depoimento2 from "../components/VSL/Depoimento2.astro";
import Depoimento3 from "../components/VSL/Depoimento3.astro";
import Depoimento4 from "../components/VSL/Depoimento4.astro";
import Depoimento5 from "../components/VSL/Depoimento5.astro";
import Depoimento6 from "../components/VSL/Depoimento6.astro";
import Depoimento7 from "../components/VSL/Depoimento7.astro";
import PlayerDepoimento from "../components/ContainerDepoimento.astro";
---

<Layout title="Programa D21">
  <div>
    <Banner bold="Atenção: " texto=" Essa página possui uma oferta exclusiva" />
    <Headline
      texto="MÉTODO SECRETO REVELADO POR UM DOUTOR AMERICANO MOSTRA COMO QUEIMAR DE GORDURA DE FORMA AUTOMÁTICA"
    />
    <VSLPlayer>
      <VSL />
    </VSLPlayer>
    <Banner1 />
    <br />
    <SubtituloVerde texto={"Aqui está tudo o que você receberá..."} />
    <br />
    <LivroCompleto />
    <br />
    <Bonus />
    <br />
    <BonusDesconto />
    <br />
    <BotaoVerde
      texto={"SIM! EU QUERO EMAGRECER"}
      link={"https://pay.kiwify.com.br/XhZDsu5"}
    />
    <br />
    <SubtituloVerde texto={"Será que isso realmente funciona?"} />
    <SubtituloVerde texto={"Veja depoimentos reais de pessoas reais..."} />
    <br />
    <PlayerDepoimento>
      <Depoimento1 />
    </PlayerDepoimento>
    <PlayerDepoimento>
      <Depoimento2 />
    </PlayerDepoimento>
    <PlayerDepoimento>
      <Depoimento3 />
    </PlayerDepoimento>
    <PlayerDepoimento>
      <Depoimento4 />
    </PlayerDepoimento>
    <PlayerDepoimento>
      <Depoimento5 />
    </PlayerDepoimento>
    <PlayerDepoimento>
      <Depoimento6 />
    </PlayerDepoimento>
    <PlayerDepoimento>
      <Depoimento7 />
    </PlayerDepoimento>
    <br />
    <Garantia />
    <br />
    <br />
    <BotaoVerde
      texto={"QUERO O PROTOCOLO PARA SECAR"}
      link={"https://pay.kiwify.com.br/XhZDsu5"}
    />
    <br />
    <FAQ />
    <BotaoVerde
      texto={"QUERO O PROTOCOLO PARA SECAR"}
      link={"https://pay.kiwify.com.br/XhZDsu5"}
    />
    <br />
  </div>
  <!-- <br />
  <Referencia />
  <br /> -->
</Layout>
