---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import Referencia from "../components/Referencia.astro";
import Rodape from "../components/Rodape.astro";
import Titulo from "../components/Titulo.astro";
import Conteudo from "../components/Conteudo";
import Garantia from "../components/Garantia.jsx";
import VSLPlayer from "../components/VSLPlayer.astro";
import Completo from "../components/Completo";
---

<Layout title="Programa D21">
  <main>
    <body>
      <Banner
        bold="Atenção: "
        texto="Essa página possui uma oferta exclusiva"
      />
      <Titulo
        texto="LIVRO SECRETO REVELA O SEGREDO DO TRUQUE DA BANANA MATINAL QUE QUEIMA GORDURA DE FORMA AUTOMÁTICA…"
      />
      <VSLPlayer />
      <Conteudo />
      <Completo />
      <Referencia />
      <Garantia />
      <section class="px-lg-20 py-lg-2">
        <div class="fakebook fb-comments">
          <section class="comments">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-12">
                  <div class="fb-comments" style="margin-top: 5px">
                    <div class="fb-comments-header">
                      <span class="strong">Mostrando 10 de 163 comentarios</span
                      >
                    </div>
                    <div class="fb-comments-wrapper">
                      <table class="fb-comments-comment">
                        <tbody>
                          <tr>
                            <td rowspan="3" class="fb-comments-comment-img">
                              <img
                                loading="lazy"
                                src="/plr-page/assets/img2/p1.webp"
                                id="1"
                                width="48"
                                height="48"
                                alt="imagem 1"
                              />
                            </td>
                          </tr>
                          <tr>
                            <td class="fb-comments-comment-text">
                              <span class="fb-comments-comment-name">
                                <name id="nome-1">Valesca Silva</name>
                              </span>
                              <br />
                              <span id="c-1"
                                >Esse vídeo me ajudou muuito. Queimei 4kg com
                                esse ritual matinal 🙏 🙏</span
                              >
                            </td>
                          </tr>
                          <tr>
                            <td class="fb-comments-comment-actions">
                              <like>Curtir</like> · <reply>Responder</reply> ·
                              <likes>59</likes>
                              <date>3 min</date>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="fb-comments-wrapper">
                      <table class="fb-comments-comment">
                        <tbody>
                          <tr>
                            <td rowspan="3" class="fb-comments-comment-img">
                              <img
                                loading="lazy"
                                id="2"
                                width="48"
                                height="48"
                                alt="imagem de perfil"
                                src="/plr-page/assets/img2/p-2.webp"
                              />
                            </td>
                          </tr>
                          <tr>
                            <td class="fb-comments-comment-text">
                              <span class="fb-comments-comment-name">
                                <name id="nome-2">Vitória Pereira</name>
                              </span>
                              <br />
                              <span id="c-2"
                                >To fazendo faz 1 semana e ja vi mt diferenca,
                                minha calça que antes ficava apertada n fica
                                mais, tenho mais energia, sou mais produtiva e o
                                melhor, to perdendo mt banha kkkk</span
                              >
                            </td>
                          </tr>
                          <tr>
                            <td class="fb-comments-comment-actions">
                              <like>Curtir</like> · <reply>Responder</reply> ·
                              <likes>63</likes>
                              <date>7 min</date>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="fb-comments-wrapper">
                      <table class="fb-comments-comment">
                        <tbody>
                          <tr>
                            <td rowspan="3" class="fb-comments-comment-img">
                              <img
                                loading="lazy"
                                id="3"
                                width="48"
                                height="48"
                                alt="imagem de perfil"
                                src="/plr-page/assets/img2/p3.webp"
                              />
                            </td>
                          </tr>
                          <tr>
                            <td class="fb-comments-comment-text">
                              <span class="fb-comments-comment-name">
                                <name id="nome-3">Mariana Martins</name><br />
                              </span>
                              <span id="c-3"
                                >Oi Doutor. Me chamo Nanda e tenho 48 anos. Eu
                                tinha 113kg antes de ver esse video, meus exames
                                estavam péssimos e eu tava quase diabética. Faz
                                1 mes e meio que eu to fazendo o ritual todos os
                                dias de manhã, e ja perdi 10kg, minha pressão tá
                                normal dnv e minha autoestima tá voltando cada
                                dia mais. Muito obrigada</span
                              >
                            </td>
                          </tr>
                          <tr>
                            <td class="fb-comments-comment-actions">
                              <like>Curtir</like> · <reply>Responder</reply> ·
                              <likes>11</likes>
                              <date>15 min</date>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="fb-comments-wrapper">
                      <table class="fb-comments-comment">
                        <tbody>
                          <tr>
                            <td rowspan="3" class="fb-comments-comment-img">
                              <img
                                loading="lazy"
                                id="4"
                                width="48"
                                height="48"
                                alt="imagem perfil"
                                src="/plr-page/assets/img2/p-4.webp"
                              />
                            </td>
                          </tr>
                          <tr>
                            <td class="fb-comments-comment-text">
                              <span class="fb-comments-comment-name">
                                <name id="nome-4">Juliana Castro</name>
                              </span>
                              <br />
                              <span id="c-4"
                                >Gente, vale super a pena fazer o teste! Fiz por
                                2 semanas e consegui eliminar 5 quilos.</span
                              >
                            </td>
                          </tr>
                          <tr>
                            <td class="fb-comments-comment-actions">
                              <like>Curtir</like> · <reply>Responder</reply> ·
                              <likes>62</likes>
                              <date>37 min</date>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="fb-comments-wrapper">
                      <table class="fb-comments-comment">
                        <tbody>
                          <tr>
                            <td rowspan="3" class="fb-comments-comment-img">
                              <img
                                loading="lazy"
                                id="5"
                                width="48"
                                height="48"
                                alt="imagem perfil"
                                src="/plr-page/assets/img2/p-5.webp"
                              />
                            </td>
                          </tr>
                          <tr>
                            <td class="fb-comments-comment-text">
                              <span class="fb-comments-comment-name">
                                <name id="nome-5">Isabella Lopes</name>
                              </span>
                              <br />
                              <span id="c-5">
                                Estou feliz, a 7 meses atrás eu estava com 78kg
                                e hoje estou com 54kg até postei a respeito no
                                meu perfil aqui no face o antes e depois 😘😘😘</span
                              >
                            </td>
                          </tr>
                          <tr>
                            <td class="fb-comments-comment-actions">
                              <like>Curtir</like> · <reply>Responder</reply> ·
                              <likes>88</likes>
                              <date>55 min</date>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="fb-comments-wrapper">
                      <table class="fb-comments-comment">
                        <tbody>
                          <tr>
                            <td rowspan="3" class="fb-comments-comment-img">
                              <img
                                loading="lazy"
                                id="9"
                                width="48"
                                height="48"
                                alt="imagem de perfil"
                                src="/plr-page/assets/img2/p9.webp"
                              />
                            </td>
                          </tr>
                          <tr>
                            <td class="fb-comments-comment-text">
                              <span class="fb-comments-comment-name">
                                <name id="nome-9">Roberta Gomes</name>
                              </span>
                              <br />
                              <span id="c-9">
                                Realmente funciona, minha barriga tem diminuído
                                a cada dia. Obrigada por compartilhar 🥰
                              </span>
                            </td>
                          </tr>
                          <tr>
                            <td class="fb-comments-comment-actions">
                              <like>Curtir</like> · <reply>Responder</reply> ·
                              <likes>44</likes>
                              <date>1 h</date>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="fb-comments-wrapper">
                      <table class="fb-comments-comment">
                        <tbody>
                          <tr>
                            <td rowspan="3" class="fb-comments-comment-img">
                              <img
                                loading="lazy"
                                id="10"
                                width="48"
                                height="48"
                                alt="imagem de perfil"
                                src="/plr-page/assets/img2/p-10.webp"
                              />
                            </td>
                          </tr>
                          <tr>
                            <td class="fb-comments-comment-text">
                              <span class="fb-comments-comment-name">
                                <name id="nome-10">Rafaela Souza</name>
                              </span>
                              <br />
                              <span id="c-10">
                                Emagrece mesmo gente receita testada e aprovada
                              </span>
                            </td>
                          </tr>
                          <tr>
                            <td class="fb-comments-comment-actions">
                              <like>Curtir</like> · <reply>Responder</reply> ·
                              <likes>51</likes>
                              <date>1 h</date>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <div class="fb-comments-wrapper">
                      <table class="fb-comments-comment">
                        <tbody>
                          <tr>
                            <td rowspan="3" class="fb-comments-comment-img">
                              <img
                                id="13"
                                loading="lazy"
                                width="75"
                                height="75"
                                alt="img"
                                src="/plr-page/assets/img2/p13.webp"
                              />
                            </td>
                          </tr>
                          <tr>
                            <td class="fb-comments-comment-text">
                              <span class="fb-comments-comment-name">
                                <name id="nome-13">Ana Sofia</name>
                              </span>
                              <br />
                              <span id="c-13">
                                Maravilhosa melhor de todas fez 7dias tomando e
                                7 klos já conseguir eliminar tô muito feliz
                                obrigado 😍😍😍
                              </span>
                            </td>
                          </tr>
                          <tr>
                            <td class="fb-comments-comment-actions">
                              <like>Curtir</like> · <reply>Responder</reply> ·
                              <likes>82</likes>
                              <date>2 h</date>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div>
                      <div class="fb-comments-wrapper" id="24">
                        <table class="fb-comments-comment">
                          <tbody>
                            <tr>
                              <td rowspan="3" class="fb-comments-comment-img">
                                <img
                                  id="14"
                                  loading="lazy"
                                  width="75"
                                  height="75"
                                  alt="img"
                                  src="/plr-page/assets/img2/p14.webp"
                                />
                              </td>
                            </tr>
                            <tr>
                              <td class="fb-comments-comment-text">
                                <span class="fb-comments-comment-name">
                                  <name id="nome-14">Laura Flores</name>
                                </span>
                                <br />
                                <span id="c-14">
                                  Eu já estou tomando, já eliminei 7 kls, já fez
                                  muita diferença, minhas roupas estavam todas
                                  apertadas, ágora já estão largas, estou num
                                  pós operatório de coluna por isso engordei
                                  muito 15 Kg, estava sentindo muita dor agora
                                  amenizou muito depois que emagreci já consigo
                                  andar mais q antes 🙏🙏🙏🙏🙏🙏
                                </span>
                              </td>
                            </tr>
                            <tr>
                              <td class="fb-comments-comment-actions">
                                <like>Curtir</like> · <reply>Responder</reply> ·
                                <likes>90</likes>
                                <date>3 h</date>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="fb-comments-wrapper">
                        <table class="fb-comments-comment">
                          <tbody>
                            <tr>
                              <td rowspan="3" class="fb-comments-comment-img">
                                <img
                                  id="18"
                                  loading="lazy"
                                  width="75"
                                  height="75"
                                  alt="img"
                                  src="/plr-page/assets/img2/p18.webp"
                                />
                              </td>
                            </tr>
                            <tr>
                              <td class="fb-comments-comment-text">
                                <span class="fb-comments-comment-name">
                                  <name id="nome-18">Daniela Costa</name>
                                </span>
                                <br />
                                <span id="c-18">
                                  Muito Obrigada tem me ajudado e muito,Adorei
                                  ...Durmo super bem e vendo resultado..🌹🥰</span
                                >
                              </td>
                            </tr>
                            <tr>
                              <td class="fb-comments-comment-actions">
                                <like>Curtir</like> · <reply>Responder</reply> ·
                                <likes>48</likes>
                                <date>4 h</date>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div>
          <div class="px-sm-2">
            <br />
            <a
              href="https://checkout.payt.com.br/2794f6a20ee0685f4006210f40799acd"
              class="btn pulse max-w-lg-50 mx-auto"
            >
              QUERO O PROTOCOLO PARA SECAR
            </a>
            <br />
          </div>
        </div>
      </section>
    </body>
    <Rodape />
  </main>
</Layout>

<style>
  main {
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }

  :root {
    --body-bg: #ffffff;
    --cta-bg: #e67e22;
    --cta-color: #ffffff;
    --fb-blue: #4080ff;
    --footer-bg: #122433;
    --dark-green: #075e54;
    --blue: #34b7f1;
    --blue-rgb: rgb(52, 184, 241);
    --white: #fefefe;
    --hero-bg: #122433;
    --banner-bg: #ff0000;
    --banner-color: #ffffff;
    --headline-color: #ffffff;
    --city-highlight: #000000;
    --highlight: #ffffff;
    --banner-fw: bold;
    --link-color: #000;
    --audio-color: #ffffff;
    --sec-1-bg: #122433;
    --sec-1-color: #fefefe;
  }
  body,
  html {
    margin: 0;
    padding: 0 !important;
    overflow-x: hidden;
    font-family: Montserrat, sans-serif;
    background-color: var(--body-bg);
  }
  section {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  img {
    max-width: 100%;
  }
  iframe {
    max-width: 100%;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  h3,
  h4 {
    color: var(--text-color);
  }
  a {
    display: block;
    text-decoration: none;
    color: var(--link-color);
  }
  p {
    color: var(--p-color);
  }
  .esconder {
    display: none;
  }
  .d-block {
    display: block;
  }
  .flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: auto;
  }
  .middle {
    vertical-align: middle;
  }
  .flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .flex-large {
    flex-basis: 100%;
  }
  @media (min-width: 1000px) {
    .flex-large {
      flex: 1;
      margin-bottom: 0;
    }
  }
  .d-none {
    display: none;
  }
  .btn {
    background-color: var(--cta-bg);
    color: var(--cta-color);
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 1.5vw;
    padding: 16px 24px;
    text-decoration: none;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 0 0 var(--cta-bg);
  }
  .btn-wrapper {
    transition: transform ease-in 0.25s;
  }
  .btn-wrapper:hover {
    transform: scale(1.05);
  }
  .som {
    font-size: 32px;
    margin-right: 12px;
  }
  .banner {
    font-size: 1.5vw;
    background-color: var(--banner-bg);
    color: var(--banner-color);
    font-weight: var(--banner-fw);
  }
  .hero {
    background-color: #ffffff;
    min-height: 100% !important;
  }
  .content .logo,
  .hero .logo {
    height: 75px;
    -webkit-filter: drop-shadow(0 0 2em 2em rgba(60, 244, 100, 0.35));
    filter: drop-shadow(0 0 2em rgba(60, 244, 100, 0.35));
  }
  .ultrasecreto {
    width: 40%;
    margin-right: auto;
    -webkit-filter: drop-shadow(0 0 1em 1em rgba(255, 238, 0, 0.4));
    filter: drop-shadow(0 0 1em rgba(255, 238, 0, 0.4));
  }
  .city-highlight {
    color: var(--city-highlight);
  }
  .hero h1 {
    font-size: 2.25vw;
    font-weight: 800;
    line-height: 1;
    color: var(--headline-color);
  }
  .hero h2 {
    font-size: 1.75vw;
    color: var(--subheadline-color);
  }
  footer a {
    color: var(--footer-color);
  }
  .drop {
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.1);
  }
  .drop-s {
    text-shadow: 1px 2px 2px rgba(52, 184, 241, 0.33);
  }
  .uc {
    text-transform: uppercase;
  }
  .audio {
    display: flex;
    align-items: center;
    font-size: 1.5vw;
    justify-content: center;
    color: var(--audio-color);
  }
  .audio img {
    margin-right: 6px;
    height: 32px;
    width: 32px;
  }
  .cta img {
    margin-top: -12px;
  }
  .content h1 {
    font-size: 42px;
    font-style: italic;
  }
  .garantia h1,
  .garantia h2,
  .garantia h3 {
    line-height: 1;
  }
  .garantia .img {
    height: 200px;
    -webkit-filter: drop-shadow(0 0 1em 1em rgba(255, 238, 0, 0.3));
    filter: drop-shadow(0 0 4em rgba(255, 238, 0, 0.3));
  }
  .amp {
    height: 156px;
    -webkit-filter: drop-shadow(0 0 1em 1em rgba(255, 238, 0, 0.5));
    filter: drop-shadow(0 0 4em rgba(255, 238, 0, 0.5));
  }
  .highlight {
    color: var(--highlight);
  }
  h4.fakebook {
    font-size: 1.25vw;
  }
  .sec-1 {
    background-color: var(--sec-1-bg);
    color: var(--sec-1-color);
  }
  .sec-1 h1 {
    font-size: 3vw;
  }
  .garantia h1 {
    font-size: 40px;
    font-weight: 600;
  }
  footer {
    background: var(--footer-bg);
    color: var(--footer-color);
  }
  .disclaimer {
    font-size: 12px;
    color: #fafafa;
    font-weight: 300;
  }
  .muted {
    color: #555;
  }
  .green {
    color: var(--green);
  }
  .dark-green {
    color: var(--dark-green);
  }
  .blue {
    color: var(--blue);
  }
  .white {
    color: var(--white);
  }
  .orange {
    color: var(--orange);
  }
  .black {
    color: #000;
  }
  .yellow {
    color: var(--yellow);
  }
  .hl {
    position: relative;
  }
  .hl img {
    position: absolute;
    bottom: -24px;
    right: calc(50% - 120px);
  }
  .strong {
    font-weight: 700;
  }
  .ul {
    text-decoration: underline;
  }
  .vertical-center {
    margin-top: calc(56px - 12.5vw) !important;
  }
  .center {
    text-align: center;
  }
  .left {
    text-align: left;
  }
  .right {
    text-align: right;
  }
  .fit {
    width: fit-content !important;
  }
  .mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .mb-1 {
    margin-bottom: 1rem;
  }
  .mb-2 {
    margin-bottom: 2rem !important;
  }
  .mb-3 {
    margin-bottom: 3rem !important;
  }
  .mt-mini {
    margin-top: 0.25rem;
  }
  .mt-1 {
    margin-top: 1rem;
  }
  .mt-2 {
    margin-top: 2rem !important;
  }
  .mt-3 {
    margin-top: 3rem !important;
  }
  .ms-1 {
    margin-left: 1rem !important;
  }
  .me-1 {
    margin-right: 1rem !important;
  }
  .guarantee {
    height: 250px;
  }
  .fixed-cta {
    position: fixed;
    bottom: 2.5%;
    z-index: 998;
    background: #3c6;
    width: 56px;
    border-radius: 32px;
    height: 56px;
    right: 5%;
    -webkit-filter: drop-shadow(0 0 1em 1em rgba(255, 255, 255, 0.7));
    filter: drop-shadow(0 0 1em rgba(255, 255, 255, 0.7));
  }
  .u {
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
  }
  html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  @media (max-width: 600px) {
    .sec-1 h1 {
      font-size: 9vw;
      line-height: 1;
    }
    .flex-col {
      flex-direction: column;
      margin-right: auto;
      margin-left: auto;
    }
    h4.fakebook {
      font-size: 3.5vw;
    }
    .banner {
      font-size: 3.25vw;
    }
    .hero {
      height: fit-content !important;
    }
    .hero h1 {
      font-size: 6vw;
      line-height: 1;
    }
    .hero h2 {
      font-size: 5vw;
      color: var(--subheadline-color);
    }
    .content h1 {
      font-size: 7vw;
      font-style: italic;
    }
    .price h1 {
      font-size: 12vw;
    }
    .price h2 {
      font-size: 15vw;
    }
    .de {
      margin-bottom: -3vh;
    }
    .price h5 {
      font-size: 3vw;
    }
    .hero .ultrasecreto {
      width: 50%;
    }
    .hl img {
      bottom: -12px;
      width: 70%;
      right: calc(50% - 70px);
    }
    .garantia h1 {
      font-size: 5.25vw;
      font-weight: 600;
    }
    .audio {
      font-size: 3.75vw !important;
    }
    .btn {
      font-size: 4.25vw;
      padding: 16px 0;
    }
    .sm-center {
      text-align: center !important;
    }
    .sm-left {
      text-align: left !important;
    }
    .sm-right {
      text-align: right !important;
    }
    .max-w-sm-75 {
      max-width: 75%;
    }
    .max-w-sm-90 {
      max-width: 90%;
    }
    .me-sm-1 {
      margin-right: 1rem !important;
    }
    .me-sm-2 {
      margin-right: 2rem !important;
    }
    .me-sm-auto {
      margin-left: auto !important;
    }
    .mx-sm-auto {
      margin-right: auto !important;
      margin-left: auto !important;
    }
    .mb-sm-1 {
      margin-bottom: 1rem;
    }
    .mb-sm-2 {
      margin-bottom: 2rem !important;
    }
    .mb-sm-3 {
      margin-bottom: 3rem !important;
    }
    .mt-sm-1 {
      margin-top: 1vh;
    }
    .mt-sm-2 {
      margin-top: 2vh;
    }
    .mt-sm-3 {
      margin-top: 3vh;
    }
    .mt-sm-5 {
      margin-top: 5vh;
    }
    .px-sm-1 {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }
    .px-sm-2 {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    .px-sm-3 {
      padding-left: 2.25rem;
      padding-right: 2.25rem;
    }
    .px-sm-4 {
      padding-left: 3rem;
      padding-right: 3rem;
    }
    .px-sm-5 {
      padding-left: 5vw;
      padding-right: 5vw;
    }
    .py-sm-1 {
      padding-bottom: 0.75rem;
      padding-top: 0.75rem;
    }
    .py-sm-2 {
      padding-bottom: 2vh;
      padding-top: 2vh;
    }
    .py-sm-5 {
      padding-bottom: 5vh;
      padding-top: 5vh;
    }
    .loading {
      height: 20px !important;
    }
  }
  @media (min-width: 600px) {
    .only-sm {
      display: none;
    }
    .lg-center {
      text-align: center !important;
    }
    .max-w-lg-25 {
      max-width: 25%;
    }
    .max-w-lg-33 {
      max-width: 33%;
    }
    .max-w-lg-50 {
      max-width: 50%;
    }
    .max-w-lg-60 {
      max-width: 60%;
    }
    .ms-lg-auto {
      margin-left: auto !important;
    }
    .me-lg-auto {
      margin-right: auto !important;
    }
    .me-lg-1 {
      margin-right: 1rem !important;
    }
    .me-lg-2 {
      margin-right: 2rem !important;
    }
    .ms-lg-1 {
      margin-left: 1rem !important;
    }
    .mx-lg-auto {
      margin-right: auto !important;
      margin-left: auto !important;
    }
    .mb-lg-1 {
      margin-bottom: 1rem !important;
    }
    .mb-lg-2 {
      margin-bottom: 2rem !important;
    }
    .mt-lg-1 {
      margin-top: 1vh;
    }
    .mt-lg-2 {
      margin-top: 2vh;
    }
    .mt-lg-3 {
      margin-top: 3vh;
    }
    .mt-lg-5 {
      margin-top: 5vh;
    }
    .px-lg-1 {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .px-lg-2 {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .px-lg-3 {
      padding-left: 3rem;
      padding-right: 3rem;
    }
    .px-lg-5 {
      padding-left: 5%;
      padding-right: 5%;
    }
    .px-lg-10 {
      padding-left: 10%;
      padding-right: 10%;
    }
    .px-lg-15-10 {
      padding-left: 15%;
      padding-right: 10%;
    }
    .px-lg-15 {
      padding-left: 15%;
      padding-right: 15%;
    }
    .px-lg-20 {
      padding-left: 20%;
      padding-right: 20%;
    }
    .px-lg-20-10 {
      padding-left: 20%;
      padding-right: 10%;
    }
    .py-lg-1 {
      padding-bottom: 1rem;
      padding-top: 1rem;
    }
    .py-lg-2 {
      padding-bottom: 2vh;
      padding-top: 2vh;
    }
    .py-lg-3 {
      padding-bottom: 3vh;
      padding-top: 3vh;
    }
    .py-lg-4 {
      padding-bottom: 4rem;
      padding-top: 4rem;
    }
    .py-lg-5 {
      padding-bottom: 5%;
      padding-top: 5%;
    }
  }
  .fb-comments {
    font-family: Helvetica, sans-serif;
  }
  .fb-comments {
    background-color: #fff !important;
    border: 1px solid #e9ebee !important;
  }
  table th {
    padding: 2px !important;
  }
  table tbody tr,
  td {
    background-color: #fff !important;
  }
  .mark-comments {
    color: #365899;
    font-weight: 500px;
  }
  .mark-comments:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .fb-comments {
    border: 1px solid #e9ebee !important;
    border-radius: 18px;
    padding: 12px;
    margin: auto;
    position: relative;
    color: #888;
  }
  .fb-comments-header {
    padding: 0;
    border-bottom: 1px solid #e9ebee !important;
  }
  .fb-comments-header span {
    color: #000;
    font-weight: 700;
    font-size: 0.9em;
  }
  .fb-comments-comment {
    border: none !important;
    padding: 0;
    margin: 10px 0;
    width: 100%;
  }
  .fb-comments-reply-wrapper {
    margin-left: 60px;
    border-left: 1px dotted #e9ebee !important;
    padding-left: 5px;
  }
  td,
  tr {
    border: none !important;
    margin: 0;
  }
  td {
    padding: 2.5px;
  }
  tr {
    padding: 2.5px 0;
  }
  .fb-comments-comment-img {
    vertical-align: top;
    width: 48px;
    padding-right: 5px;
  }
  .fb-comments-comment-img img {
    max-width: 48px;
    max-height: 48px;
    border-radius: 25px;
    object-fit: cover;
  }
  .fb-comments-comment-name {
    font-size: 0.9em;
  }
  .fb-comments-comment-name name {
    color: #365899;
    text-decoration: none !important;
    font-weight: 700;
    cursor: pointer;
    cursor: hand;
  }
  .fb-comments-comment-name name:hover {
    text-decoration: underline !important;
  }
  .fb-comments-comment-name occupation {
    color: #90949c !important;
  }
  .fb-comments-comment-text {
    font-weight: 400;
    font-size: 0.9em;
    color: #050505;
    border-radius: 21px;
    background-color: #f0f2f5 !important;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 8px;
  }
  .fb-comments-comment-actions {
    padding: 0 2px !important;
  }
  .fb-comments-comment-actions like,
  .fb-comments-comment-actions reply {
    font-size: 0.75em;
    color: #888;
    font-weight: 600;
    text-decoration: none !important;
    cursor: pointer;
    cursor: hand;
  }
  .fb-comments-comment-actions like.liked {
    color: #90949c;
    text-decoration: none !important;
  }
  .fb-comments-comment-actions like.liked:active {
    color: #90949c;
  }
  .fb-comments-comment-actions like:hover,
  .fb-comments-comment-actions reply:hover {
    text-decoration: underline !important;
  }
  .fb-comments-comment-actions likes {
    font-size: 13px;
    background: url("../plr-page/assets/img/likes.png");
    background-repeat: no-repeat;
    padding-left: 43px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 2px;
    margin-top: -10px;
    float: right;
    background-color: #fff !important;
    border: solid #eaebef;
    border-radius: 19px;
  }
  .fb-comments-comment-actions date {
    font-size: 0.75em;
    color: #90949c;
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
  }
  .fb-comments-comment-actions date:hover {
    text-decoration: underline;
  }
  .fb-comments-loadmore {
    background: #4080ff !important;
    border: 1px solid #4080ff !important;
    border-radius: 3px;
    box-sizing: border-box;
    color: #fff;
    font-size: 14px;
    padding: 0.875em;
    text-shadow: none;
    width: 100%;
    font-weight: 700;
    cursor: hand;
    cursor: pointer;
  }
  .fb-reply-input {
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    width: 100%;
    padding: 5px 7.5px;
    font-size: 0.75em;
    color: #000;
    outline: 0;
  }
  .fb-reply-button:hover,
  .fb-reply-input:hover {
    outline: 0;
  }
  .fb-reply-button {
    background: #4080ff !important;
    border: 1px solid #4080ff !important;
    border-radius: 3px;
    box-sizing: border-box;
    color: #fff;
    font-size: 0.75em;
    padding: 5px 7.5px;
    text-shadow: none;
    width: 100%;
    font-weight: 700;
    cursor: hand;
    cursor: pointer;
    outline: 0;
  }
  .liked {
    color: var(--fb-blue) !important;
    font-weight: 700 !important;
    text-decoration: none !important;
  }
  .liked:active {
    text-decoration: none !important;
  }
  .bbtn {
    width: 100%;
    max-width: 449px;
  }
  .loading {
    height: 24px;
  }
  .pulse {
    -webkit-animation: pulse 1.5s infinite;
  }
  @-webkit-keyframes pulse {
    0% {
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    70% {
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
      box-shadow: 0 0 0 16px rgba(90, 153, 212, 0);
    }
    100% {
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
  }
  .strikethrough {
    display: inline-block;
    position: relative;
    transition: all 3s infinite;
    color: #dc143c;
  }
  .strikethrough:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    box-shadow: 0 1px rgba(255, 0, 0, 0.6);
    margin-top: -0.6em;
    background: red;
    transform-origin: center left;
    animation: strikethrough 2s 1s infinite;
  }
  @keyframes strikethrough {
    0% {
      transform: scaleX(0);
    }
    35% {
      transform: scaleX(1);
    }
    100% {
      transform: scaleX(1);
    }
  }
  #vid_62cdc68f2001f0000bdde431 {
    border: 1px solid #4adede;
    box-shadow: 0 0 6px 3px rgb(74 222 222 / 33%);
    border-radius: 4px;
  }
</style>
