---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import Referencia from "../components/Referencia.astro";
import Rodape from "../components/Rodape.astro";
import Titulo from "../components/Titulo.astro";
import Conteudo from "../components/Conteudo";
import Garantia from "../components/Garantia.jsx";
import VSLPlayer from "../components/VSLPlayer.astro";
import Completo from "../components/Completo";
import Bonus from "../components/Bonus";
import SubtituloVerde from "../components/SubtituloVerde";
import FAQ from "../components/FAQ.astro";
---

<Layout title="Programa D21">
  <div>
    <Banner bold="Atenção: " texto="Essa página possui uma oferta exclusiva" />
    <Titulo
      texto="LIVRO SECRETO REVELA O SEGREDO DO TRUQUE DA BANANA MATINAL QUE QUEIMA GORDURA DE FORMA AUTOMÁTICA…"
    />
    <VSLPlayer />
    <Conteudo />
    <br />
    <SubtituloVerde texto={"Aqui está tudo o que você receberá..."} />
    <br />
    <Completo />
    <br />
    <Bonus />
    <br />
    <SubtituloVerde texto={"Será que isso realmente funciona?"} />
    <SubtituloVerde texto={"Veja depoimentos reais de pessoas reais..."} />
    <br />
    <Garantia />
    <br />
    <FAQ />
  </div>
  <!-- <br />
  <Referencia />
  <br /> -->
  <!-- <br /> -->
</Layout>
