---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import Referencia from "../components/Referencia.astro";
import Rodape from "../components/Rodape.astro";
import Titulo from "../components/Titulo.astro";
import Conteudo from "../components/Conteudo";
import Garantia from "../components/Garantia.jsx";
import VSLPlayer from "../components/Container.astro";
import LivroCompleto from "../components/LivroCompleto";
import Bonus from "../components/Bonus";
import SubtituloVerde from "../components/SubtituloVerde";
import FAQ from "../components/FAQ.astro";
import BotaoVerde from "../components/BotaoVerde";
import BonusDesconto from "../components/BonusDesconto";
import VSL from "../components/VSL/VSL.astro";
---

<Layout title="Programa D21">
  <div>
    <Banner bold="Atenção: " texto="Essa página possui uma oferta exclusiva" />
    <Titulo
      texto="LIVRO SECRETO REVELA O SEGREDO DO TRUQUE DA BANANA MATINAL QUE QUEIMA GORDURA DE FORMA AUTOMÁTICA…"
    />
    <VSLPlayer>
      <VSL />
    </VSLPlayer>
    <Conteudo />
    <br />
    <SubtituloVerde texto={"Aqui está tudo o que você receberá..."} />
    <br />
    <LivroCompleto />
    <br />
    <Bonus />
    <br />
    <BonusDesconto />
    <br />
    <BotaoVerde texto={"SIM! EU QUERO EMAGRECER"} />
    <!-- <br />
    <SubtituloVerde texto={"Será que isso realmente funciona?"} />
    <SubtituloVerde texto={"Veja depoimentos reais de pessoas reais..."} /> -->
    <br />
    <Garantia />
    <br />
    <br />
    <BotaoVerde texto={"QUERO MINHA VAGA SEM RISCO"} />
    <br />
    <FAQ />
    <BotaoVerde texto={"SIM! EU QUERO EMAGRECER"} />
    <br />
  </div>
  <!-- <br />
  <Referencia />
  <br /> -->
</Layout>
