---
export interface Props {
  bold: string;
  texto: string;
}

const { bold, texto } = Astro.props;
---

<div><strong>{bold}</strong>{texto}</div>

<style>
  div {
    color: white;
    background-color: red;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
</style>
