---
export interface Props {
  bold: string;
  texto: string;
}

const { bold, texto } = Astro.props;
---

<div class="banner"><strong>{bold}</strong>{texto}</div>

<style>
  .banner {
    color: white;
    background-color: red;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    width: 100%;
    height: fit-content;
  }
</style>
