<div
  style={{
    textAlign: "center",
    display: "flex",
    justifyContent: "center",
    alignItems: "center",
    width: "100%",
  }}
>
  <div
    style={{
      width: "80%",
    }}
  >
    <h2>Perguntas frequentes</h2>
    <ul>
      <li>
        <h3 class="question">Como vou receber o livro?</h3>
        <p class="answer">
          O acesso chegará ao seu E-mail logo após a compra do livro Truque Da
          Banana Para Secar.
        </p>
      </li>
      <li>
        <h3 class="question">Como funciona o método?</h3>
        <p class="answer">
          Você irá receber um livro ensinando o passo a passo da receita do
          truque da banana especial que irá ativar a queima de gordura
          automática no seu corpo 24 horas por dia.
        </p>
      </li>
      <li>
        <h3 class="question">
          Existe alguma garantia de que esse livro funciona?
        </h3>
        <p class="answer">
          Se você não tiver certeza se o livro é ou não pra você, não tem
          problema. Nós acreditamos tanto no livro que damos a você uma garantia
          de 30 dias. Se dentro desse período você não ver ou sentir QUALQUER
          resultado em apenas 30 dias, basta nos enviar um e-mail e devolveremos
          100% do seu investimento. Simples assim 🙂
        </p>
      </li>
      <li>
        <h3 class="question">Em quanto tempo posso perder peso?</h3>
        <p class="answer">
          A partir de 1 semana algumas alunas já relataram seus resultados,
          enquanto algumas relataram após 30 dias aplicando o manual.
        </p>
      </li>
      <li>
        <h3 class="question">A forma de pagamento é segura?</h3>
        <p class="answer">
          Sim, a forma de pagamento é através de uma das melhores plataformas de
          pagamentos do Brasil. Sua compra está 100% garantida e segura.
        </p>
      </li>
      <li>
        <h3 class="question">Como posso comprar?</h3>
        <p class="answer">
          Clique no botão abaixo e realize sua inscrição. Você pode comprar
          somente aqui no site oficial. Todo o processo de compra é 100% seguro,
          criptografado e protegido pelas melhores e mais novas tecnologias do
          mercado.
        </p>
      </li>
    </ul>
  </div>
</div>

<script>
  const questions = document.querySelectorAll(".question");
  const answers = document.querySelectorAll(".answer");

  questions.forEach((question) => {
    question.addEventListener("click", () => {
      const answer = question.nextElementSibling;
      answer.classList.toggle("show");
    });
  });
</script>

<style>
  .question {
    cursor: pointer;
  }

  .answer {
    display: none;
  }

  .answer.show {
    display: block;
  }

  li {
    margin-bottom: 20px;
    list-style-type: none;
  }

  h2 {
    color: #4f9a68;
    font-weight: 800;
  }

  p {
    text-align: left;
    margin-left: 10px;
  }

  h3 {
    text-align: left;
    font-weight: 600;
  }
</style>
