<footer>
  <div>
    <p>
      <strong>Copyright 2023</strong><br />Todos os direitos reservados.
    </p>
    <a>Termos de Uso &nbsp;|&nbsp; Políticas de Privacidade</a>
  </div>
</footer>

<style>
  footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  footer a {
    color: #fff;
    text-decoration: none;
  }
  footer a:hover {
    color: #fff;
    text-decoration: underline;
  }
</style>
