<div>
  <br />
  <a>
    <strong>Copyright 2023</strong>
  </a>
  <br />
  <a> Todos os direitos reservados.</a><br />
  <a class="link">Termos de Uso</a>&nbsp;|&nbsp;<a class="link"
    >Políticas de Privacidade</a
  >
</div>

<style>
  div {
    background-color: #000;
    color: #fff;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    position: relative;
    text-align: center;
  }
  .link {
    color: #fff;
    text-decoration: none;
  }
  .link:hover {
    color: #fff;
    text-decoration: underline;
  }
</style>
