---
export interface Props {
  texto: string;
}

const { texto } = Astro.props;
---

<div><a>{texto}</a></div>

<style>
  div {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  a {
    color: #000;
    text-decoration: none;
    font-size: 35px;
    font-weight: 600;
    width: 80%;
  }
</style>
