---
import Layout from "../../layouts/Layout.astro";
import TextoMedio from "../../componentes/Estrutura/Texto/TextoMedio";
import TextoVerde from "../../componentes/Estrutura/Texto/TextoVerde";
import ContainerBox from "../../componentes/Estrutura/ContainerBox";
---

<Layout title="Programa D21">
  <div>
    <ContainerBox>
      <TextoMedio>
        <br />
        <br />
        PARABÉNS! VAGA GARANTIDA COM SUCESSO!
        <br />
        <br />
        Estou muito feliz por você ter tomado esta decisão!
        <br />
        <br />
        Garanto que vamos superar todas as suas expectativas.
        <br />
        <br />
        O acesso foi enviado ao e-mail que você cadastrou na hora da compra.
        <br />
        <br />
        Caso não ache de primeira, verifique se não caiu na caixa de SPAM/LIXEIRA
        do seu e-mail.
        <br />
      </TextoMedio>
      <TextoVerde>OBRIGADO</TextoVerde>
    </ContainerBox>
  </div>
</Layout>
