---
import Layout from "../../layouts/Layout.astro";
import Banner from "../../components/Banner.astro";
import ContainerBox from "../../components/ContainerBox";
import TextoGrande from "../../components/Texto/TextoGrande";
import TextoMedio from "../../components/Texto/TextoMedio";
import TextoPequeno from "../../components/Texto/TextoPequeno";
import TextoVermelho from "../../components/Texto/TextoVermelho";
import Container from "../../components/Container.astro";
import Downsell2 from "../../components/Botao/Downsell2.astro";
---

<Layout title="Programa D21">
  <div>
    <Banner
      bold="ETAPA 2 de 2: "
      texto="Atenção, não feche ou atualize essa página, isso pode gerar erros na sua compra."
    />
    <ContainerBox>
      <br />
      <img src="/plr-page/upsell2/stop.png" alt="stop" />
      <TextoGrande>POR FAVOR, LEIA ESTA PÁGINA COM MUITO CUIDADO!</TextoGrande>
      <br />
      <TextoMedio>
        Deixe-me parabenizá-la novamente por obter acesso a este guia!
      </TextoMedio>
      <br />
      <TextoPequeno>
        Sei que você vai aproveitar muito e estou ansioso para ouvir sua
        história de sucesso depois de conquistar o corpo que você merece!
      </TextoPequeno>
      <br />
      <TextoMedio>
        Mas, agora e aqui nessa página eu tenho uma proposta final para fazer a
        você que inclusive não tem nada a ver com a anterior…
        <br /><br />
        É algo especial e de ainda mais valor.
        <br /><br />
        Por isso, não feche ou atualize essa página, leia o texto abaixo com atenção,
        é realmente muito importante:
      </TextoMedio>
      <br />
      <TextoPequeno>
        99% das nossas alunas querem ficar ainda mais atraentes e melhorar os
        seus resultados, conseguindo esculpir um corpo realmente bonito e que
        chama atenção de todas as pessoas.
        <br /><br />
        Se você é como 99% das nossas alunas e gostaria de ficar mais linda e atraente,
        eu tenho um convite para te fazer.
        <br /><br />
        Muitas das nossas alunas reclamam que mesmo conseguindo emagrecer, elas sofrem
        com um bumbum pequeno, feio e caído...
        <br /><br />
        Realmente, ter um bumbum pequeno e caído é extremamente brochante e nada
        atraente!
        <br /><br />
        Mas não se preocupe que eu tenho uma boa notícia para você…
        <br /><br />
        Simplesmente por ver as nossas alunas tão desanimadas por terem um bumbum
        pequeno, resolvi criar um programa adicional que vai resolver esse problema
        de uma vez por todas.
        <br /><br />
        Apresento a você o que eu chamo de: “Programa Bumbum Perfeito”...
        <br /><br />
        Foram meses e meses de pesquisas e estudos para chegar a esse programa poderoso
        que apresento a você hoje…
        <br /><br />
        Com esse programa vou mostrar a você as etapas exatas e instruções específicas
        para ajudá-la a dobrar o tamanho e a firmeza do seu bumbum em apenas 6 semanas…
      </TextoPequeno>
      <br />
      <TextoMedio>
        Já imaginou você com um bumbum grande, empinado e durinho igual esse
        abaixo?
      </TextoMedio>
      <br />
      <img src="/plr-page/upsell2/resultado.jpeg" alt="resultado" />
      <br />
      <TextoPequeno>
        Isso está mais próximo do que você imagina...
        <br /><br />
        Com esse programa você vai poder:
        <br /><br />
        Aumentar e empinar o seu bumbum em apenas 6 semanas…
        <br /><br />
        Ficar mais bonita e atraente aos olhos das outras pessoas (principalmente
        os homens)...
      </TextoPequeno>
      <br />
      <TextoMedio>
        Essa oportunidade só é aberta para mulheres inteligentes que tomaram uma
        ação como você, portanto, esteja ciente que deixar essa oportunidade
        passar é o mesmo que perdê-la para sempre!
      </TextoMedio>
      <br />
      <TextoPequeno>
        Geralmente eu cobro R$ 300 reais por esse programa fora daqui…
        <br /><br />

        Mas como você confiou em mim, eu quero presentear você…
        <br /><br />

        Por isso vou fazer algo que pode parecer loucura para algumas pessoas…
        <br /><br />

        Hoje você não vai pagar R$ 300 reais para ter acesso a esse programa…
        <br /><br />

        Não vai precisar pagar nem mesmo R$ 200 reais…
        <br /><br />

        Aqui nesta página você terá a oportunidade de adicionar esse programa ao
        seu pacote por MENOS DA METADE DO VALOR ORIGINAL!
      </TextoPequeno>
      <br />
      <TextoMedio>
        De <s class="desconto-vermelho">R$ 300,00</s> por apenas
        <br />
        <strong class="preco">R$ 47,00</strong> ou
        <strong class="preco">11X de 5,08</strong>
      </TextoMedio>
      <br />
      <TextoPequeno>
        Clique no botão laranja abaixo “Sim! Adicionar ao pacote” e adicione
        esse programa ao seu pacote agora...
      </TextoPequeno>
      <div id="oferta">
        <Container>
          <Downsell2 />
        </Container>
      </div>
      <TextoPequeno>
        Além disso, como eu quero entregar mais e tornar IMPOSSÍVEL de você
        falhar, vou dar mais um presente a você…
        <br /><br />
        Pode ser chamado como um bônus especial…
        <br /><br />
        Se você clicar no botão abaixo agora, vou adicionar ao seu pacote outro programa
        separado que chamo de “Adeus Estrias”...
        <br /><br />
        Como você vai aumentar seu bumbum, provavelmente ele vai ficar com um pouco
        de estria e isso é completamente normal…
        <br /><br />
        E provavelmente você já deve ter estrias ao redor do seu bumbum, barriga
        e coxas que te incomodam.
        <br /><br />
        Esse programa adicional vai resolver esse problema!
      </TextoPequeno>
      <br />
      <TextoMedio>
        E lembre-se que você ainda tem a minha garantia de 7 dias...
        <br /><br />
        Então, o seu risco é zero!
        <br />
      </TextoMedio>
      <br />
      <br />
      <TextoPequeno>
        Programa bumbum perfeito{" "}
        <strong>
          <s>R$400</s>
        </strong>
        <br />
        Adeus estrias{" "}
        <strong>
          <s>R$147</s>
        </strong>
      </TextoPequeno>
      <TextoVermelho>
        Total:{" "}
        <strong>
          <s>R$ 547</s>
        </strong>
      </TextoVermelho>
      <img src="/plr-page/upsell2/upsell2.png" width="200" alt="" />
      <br />
    </ContainerBox>
  </div>
</Layout>

<style>
  .desconto-vermelho {
    color: #e43b2c;
  }

  .preco {
    color: #61ce70;
  }

  .titulo-desconto {
    font-size: 25px;
    font-weight: 700;
    color: #2f2f2f;
    width: 80%;
  }
</style>
